@font-face {
  font-family: 'curlz';
  src: local("curlz"), url("../fonts/CURLZ.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #3c3c3c;
  background-color: #fefaec; }

ul li {
  list-style: none;
  padding: 0;
  margin: 0; }

@media (min-width: 320px) {
  .navbar {
    background-color: #a9eee6; }
    .navbar a {
      color: #3c3c3c; }
    .navbar div {
      text-align: center; }
      .navbar div li a {
        font-family: 'Roboto', sans-serif;
        font-size: 1.75rem;
        font-weight: light;
        color: #625772;
        font-size: 1rem; }
  @-webkit-keyframes animacionMenu {
    0% {
      font-size: 1rem; }
    50% {
      font-size: 1.5rem; }
    100% {
      font-size: 1rem; } }
  @keyframes animacionMenu {
    0% {
      font-size: 1rem; }
    50% {
      font-size: 1.5rem; }
    100% {
      font-size: 1rem; } }
      .navbar div li a:hover {
        -webkit-animation-name: animacionMenu;
                animation-name: animacionMenu;
        -webkit-animation-duration: 1.2s;
                animation-duration: 1.2s;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out; }

  .fondoMenu {
    background-color: #625772;
    opacity: 0.8;
    -webkit-transition: all 3s ease;
    transition: all 3s ease; }
    .fondoMenu div ul li a {
      color: white !important; }

  #MainBanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url("../images/img_ mainBanner.jpg") no-repeat fixed right bottom;
    background-size: cover;
    height: 100vh; }
    #MainBanner .row .col-12 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
      #MainBanner .row .col-12 h1 {
        font-family: 'curlz', sans-serif;
        font-size: 6rem;
        font-weight: bolder;
        color: #a9eee6;
        font-size: 5rem; }
      #MainBanner .row .col-12 p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: #fefaec; }
      #MainBanner .row .col-12 button {
        width: 70%;
        padding: 1rem 0.5rem;
        background-color: #fefaec;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        color: #625772;
        font-weight: 400;
        -ms-flex-item-align: center;
            align-self: center; }

  #BannerNosotros .row {
    text-align: center; }
    #BannerNosotros .row .col-12:nth-child(1) {
      padding: 2rem 1rem; }
      #BannerNosotros .row .col-12:nth-child(1) h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        font-weight: 200;
        color: #625772;
        text-transform: uppercase;
        margin: 1rem; }
      #BannerNosotros .row .col-12:nth-child(1) h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        color: #625772;
        background-color: #a9eee6;
        margin: 2rem 0rem 2rem 0rem;
        padding: 2rem 1rem; }
      #BannerNosotros .row .col-12:nth-child(1) p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: #625772;
        margin: 1rem; }

  #sectionBeneficios {
    padding: 0; }
    #sectionBeneficios .row:nth-child(1) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 2rem 0rem 0rem 0rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      #sectionBeneficios .row:nth-child(1) h2 {
        font-family: 'curlz', sans-serif;
        font-size: 6rem;
        font-weight: bolder;
        color: #F38181;
        margin: 2rem 0rem; }
      #sectionBeneficios .row:nth-child(1) h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: light;
        color: #fefaec;
        margin-bottom: 2rem; }
      #sectionBeneficios .row:nth-child(1) i {
        font-size: 4rem;
        color: #fefaec;
        margin: 4rem 0rem 4rem 0rem; }
      #sectionBeneficios .row:nth-child(1) div:nth-child(2) {
        background-color: #F38181; }
      #sectionBeneficios .row:nth-child(1) div:nth-child(3) {
        background-color: #4f3d33; }
      #sectionBeneficios .row:nth-child(1) div:nth-child(4) {
        background-color: #a9eee6; }
        #sectionBeneficios .row:nth-child(1) div:nth-child(4) div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
              justify-content: space-around;
          background-color: #a9eee6; }
          #sectionBeneficios .row:nth-child(1) div:nth-child(4) div i {
            font-size: 2.5 rem;
            color: #625772; }
          #sectionBeneficios .row:nth-child(1) div:nth-child(4) div h4 {
            color: #625772; }
      #sectionBeneficios .row:nth-child(1) div:nth-child(5) {
        background-color: #625772; }
    #sectionBeneficios .row:nth-child(2) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      background-color: #625772; }
      #sectionBeneficios .row:nth-child(2) .col-12 {
        margin: 2rem 0rem; }
        #sectionBeneficios .row:nth-child(2) .col-12 .card {
          margin: 0rem 2rem;
          background-color: #fefaec;
          border-radius: 10px 10px 0px 0px; }
          #sectionBeneficios .row:nth-child(2) .col-12 .card .card-body {
            padding: 0; }
            #sectionBeneficios .row:nth-child(2) .col-12 .card .card-body h2 {
              margin: 2rem 0rem; }
            #sectionBeneficios .row:nth-child(2) .col-12 .card .card-body h4 {
              font-family: 'Roboto', sans-serif;
              font-size: 1.5rem;
              font-weight: light;
              color: #3c3c3c; }
            #sectionBeneficios .row:nth-child(2) .col-12 .card .card-body p.card-text {
              padding: 0rem 2rem;
              font-family: 'Roboto', sans-serif;
              font-size: 1rem;
              color: #4f3d33; }
            #sectionBeneficios .row:nth-child(2) .col-12 .card .card-body .btn {
              width: 100%;
              padding: 2rem;
              border-radius: 10px 10px 0px 0px;
              border: solid 1px #a9eee6;
              background-color: #a9eee6;
              font-family: 'Roboto', sans-serif;
              font-size: 1.5rem;
              font-weight: light;
              color: #3c3c3c; }
    #sectionBeneficios .row:nth-child(3) {
      background: url("../images/img_ bannerEmail.jpg") no-repeat fixed center;
      background-size: cover;
      height: 100vh; }
      #sectionBeneficios .row:nth-child(3) div.col-12 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0rem 2rem; }
        #sectionBeneficios .row:nth-child(3) div.col-12 h1 {
          font-family: 'curlz', sans-serif;
          font-size: 6rem;
          font-weight: bolder;
          color: #F38181;
          font-size: 5rem; }
        #sectionBeneficios .row:nth-child(3) div.col-12 p {
          font-family: 'Roboto', sans-serif;
          font-size: 1rem;
          color: #3c3c3c;
          font-size: 1rem; }
        #sectionBeneficios .row:nth-child(3) div.col-12 h4 {
          font-family: 'Roboto', sans-serif;
          font-size: 1.5rem;
          font-weight: light;
          color: #625772;
          font-size: 1.5rem;
          margin-top: 2rem; }
        #sectionBeneficios .row:nth-child(3) div.col-12 button {
          background-color: #4f3d33; }
    #sectionBeneficios #sectionFormulario {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #fefaec; }
      #sectionBeneficios #sectionFormulario .formulario div:nth-child(1).col-12 {
        padding: 2rem 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
        #sectionBeneficios #sectionFormulario .formulario div:nth-child(1).col-12 h2 {
          font-family: 'Roboto', sans-serif;
          font-size: 2rem;
          font-weight: 200;
          color: #625772;
          text-transform: uppercase;
          padding: 0rem 1rem; }
        #sectionBeneficios #sectionFormulario .formulario div:nth-child(1).col-12 h4 {
          font-family: 'Roboto', sans-serif;
          font-size: 1.5rem;
          font-weight: light;
          color: #625772;
          padding: 1rem 1rem 0rem 1rem; }
      #sectionBeneficios #sectionFormulario .formulario div:nth-child(2).col-12 {
        padding: 0rem 2rem 1rem 2rem;
        text-align: left; }
      #sectionBeneficios #sectionFormulario .formulario div:nth-child(3).col-12 form .form-row:nth-child(1) {
        padding: 0rem 1rem;
        height: 10rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: nowrap;
            flex-flow: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        #sectionBeneficios #sectionFormulario .formulario div:nth-child(3).col-12 form .form-row:nth-child(1) input {
          border: solid 1px #F38181; }
        #sectionBeneficios #sectionFormulario .formulario div:nth-child(3).col-12 form .form-row:nth-child(1) .form-control::-webkit-input-placeholder {
          color: #F38181; }
        #sectionBeneficios #sectionFormulario .formulario div:nth-child(3).col-12 form .form-row:nth-child(1) .form-control:-ms-input-placeholder {
          color: #F38181; }
        #sectionBeneficios #sectionFormulario .formulario div:nth-child(3).col-12 form .form-row:nth-child(1) .form-control::placeholder {
          color: #F38181; }
      #sectionBeneficios #sectionFormulario .formulario div:nth-child(3).col-12 form .form-row:nth-child(2) {
        margin: 1rem 0rem 0rem 0rem;
        padding: 0rem 1rem; }
        #sectionBeneficios #sectionFormulario .formulario div:nth-child(3).col-12 form .form-row:nth-child(2) button {
          border-color: #625772;
          background-color: #625772;
          color: #fefaec;
          font-weight: 400; }
      #sectionBeneficios #sectionFormulario .formulario #sectionSociales {
        background-color: #fefaec;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        #sectionBeneficios #sectionFormulario .formulario #sectionSociales ul {
          margin: 5rem 0rem;
          padding: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 50%;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
          #sectionBeneficios #sectionFormulario .formulario #sectionSociales ul li i {
            font-size: 2.5rem;
            color: #625772; }

  #subir {
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    font-size: 2rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
    #subir i {
      color: #a9eee6; } }
@media (min-width: 768px) {
  #MainBanner .row .col-12 h1 {
    font-family: 'curlz', sans-serif;
    font-size: 6rem;
    font-weight: bolder;
    color: #a9eee6;
    font-size: 8rem; }
  #MainBanner .row .col-12 p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #fefaec;
    font-size: 1.5rem; }
  #MainBanner .row .col-12 button {
    width: 30%;
    padding: 1rem 0.5rem;
    background-color: #fefaec;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #625772;
    font-weight: 400;
    -ms-flex-item-align: center;
        align-self: center; }

  #BannerNosotros .row .col-12:nth-child(1) h2 {
    font-size: 4rem; }
  #BannerNosotros .row .col-12:nth-child(1) h4 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.5rem; }
  #BannerNosotros .row .col-12:nth-child(1) p {
    font-size: 1.5rem; }

  #sectionBeneficios {
    padding: 0; }
    #sectionBeneficios .row:nth-child(1) {
      margin: 2rem 0rem 0rem 0rem;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      #sectionBeneficios .row:nth-child(1) div:nth-child(1) h2 {
        padding: 2rem 0rem; }
    #sectionBeneficios #emailMarketing div {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      #sectionBeneficios #emailMarketing div h1 {
        font-size: 8rem; }
    #sectionBeneficios #sectionFormulario {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #sectionBeneficios #sectionFormulario .formulario div:first-child h2:first-child {
        font-size: 3rem; }
      #sectionBeneficios #sectionFormulario .formulario div:nth-child(2) p.lead {
        text-align: left; }
      #sectionBeneficios #sectionFormulario .formulario #sectionSociales ul li i {
        font-size: 3rem; } }
@media (min-width: 992px) {
  .navbar #menuDulceria {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .navbar #menuDulceria ul li a {
      color: #625772;
      letter-spacing: 0.2rem; }

  #sectionBeneficios .row:first-child div:nth-child(1) h2 {
    font-size: 8rem; }
  #sectionBeneficios #sectionFormulario {
    margin-bottom: 8rem; }
    #sectionBeneficios #sectionFormulario .formulario {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      #sectionBeneficios #sectionFormulario .formulario div:first-child h2:first-child {
        font-size: 3rem; }
      #sectionBeneficios #sectionFormulario .formulario div:nth-child(2) p.lead {
        text-align: left; }
      #sectionBeneficios #sectionFormulario .formulario #sectionSociales ul li i {
        font-size: 3rem;
        margin-left: 1.5rem; } }
@media (min-width: 1200px) {
  #MainBanner .row div.col-12 h1 {
    font-size: 8rem; }

  #BannerNosotros .row {
    text-align: left; }
    #BannerNosotros .row div:nth-child(1) h4 {
      font-size: 1rem;
      line-height: none;
      letter-spacing: none; }
    #BannerNosotros .row div:nth-child(2) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

  #sectionBeneficios .row:nth-child(1) h2 {
    text-align: left; }
  #sectionBeneficios #emailMarketing {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #sectionBeneficios #emailMarketing h1 {
      font-size: 8rem; } }

/*# sourceMappingURL=estilos.css.map */